{% extends "index.html" %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
{% block content %}
        <div class="container">

            <div class="row">
                 <div class="col align-self-start"></div>
                <div class="col align-self-center">
                    <br />
                    <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br />
                        <button type="submit" class="btn btn-outline-dark btn-sm">Зарегистрироваться</button>
                    </form>
                </div>
                <div class="col align-self-end"></div>
            </div>
        </div>

    <br/>
    Уже зарегистрированы? <a href="{% url "login" %}">Войти</a>
</div>
{% endblock %}




